<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machining Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="title-container">
        <h1>Machining Recommendations</h1>
        <div>
            <p class="welcome">Welcome {{session['username']}}</p>
        </div>
        <div class="nav-container">
            {% if session['username'] != 'test' %}
                <a href="/account"><button class="account-button">Account</button></a>
            {% endif %}
            <a href="/logout"><button class="logout-button">Logout</button></a>
        </div>
    </div>
    <div class="body-container">
        <div class="find-container">
            <div class="box-title-container">
                <p class="box-title"><strong>Search</strong></p>
            </div>
            <form>
                <label for="manufacturer">Select Manufacturer:
                    <select name="manufacturer" onchange="get_all_inserts(this.value)" id="manufacturer">
                        {% for manufacturer in manufacturers %}
                            <option value="{{ manufacturer.id }}">{{ manufacturer.manufacturer }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="insrt">Insert:
                    <select name="insrt" onchange="get_all_materials(this.value)" id="insrt">
                    </select>
                </label>
                <label for="material">Material:
                    <select name="material" id="material">
                    </select>
                </label>
                <button class="find-button" onclick="find()" type="button">Find</button>
            </form>
        </div>
        <div class="add-container">
            <div class="box-title-container">
                <p class="box-title"><strong>Not Finding What You're Looking For?</strong></p>
            </div>
            {% with messages = get_flashed_messages(category_filter=["new_category_error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert">**{{message}}**</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/add_new_category" method="post">
                <label for="manufacturer">Manufacturer:
                    <input type="text" name="manufacturer">
                </label>
                <label for="insrt">Insert:
                    <input type="text" name="insrt">
                </label>
                <label for="material">Material:
                    <input type="text" name="material">
                </label>
                <button class="add-button">Add</button>
            </form>
        </div>
    </div>
    <footer class="creator-container">
    </footer>
    <script src="{{ url_for('static', filename='scripts/dashboard_scripts.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/index_scripts.js') }}"></script>
</body>
</html>