<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machining Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="title-container">
        <h1>Machining Recommendations</h1>
    </div>
    <div class="body-container main">
        <div class="form-container">
            <div class="form-title">
                <h2>Register</h2>
            </div>
            {% with messages = get_flashed_messages(category_filter=["register_error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert">**{{message}}**</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/register" method="post">
                <label for="username">Username:
                    <input type="text" name="username">
                </label>
                <label for="first_name" >First Name:
                    <input type="text" name="first_name">
                </label>
                <label for="last_name">Last Name:
                    <input type="text" name="last_name">
                </label>
                <label for="email">Email:
                    <input type="email" name="email">
                </label>
                <label for="password">Password:
                    <input type="password" name="password">
                </label>
                <label for="confirm_password">Confirm Password:
                    <input type="password" name="confirm_password">
                </label>
                <div class="button-container">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
        </div>
        <div class="form-container">
            <div class="form-title">
                <h2>Login</h2>
            </div>
            {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert">**{{message}}**</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <label for="email" class="column">Email:
                    <input type="email" name="email" id="email">
                </label>
                <label for="password">Password:
                    <input type="password" name="password" id="password">
                </label>
                <div class="button-container">
                    <button type="submit" class="login-button">Login</button>
                    <button type="button" class="login-button" onclick="demo()">Demo</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="creator-container">
    </footer>
    <script src="{{ url_for('static', filename='scripts/index_scripts.js') }}"></script>
</body>
</html>