* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px black;
}

body {
    background-color:black;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid orange;
    background-color: black;
    color: white;
    /* background-image: url("../images/inserts.png");
    background-repeat: no-repeat; */
}


.body-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: beige;
    padding-bottom: 200px;
}

.form-container, .tool-information, #recommendation-form, #update-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    padding: 20px;
    background-color:orange;
    border-radius: 10px;
}

#update-form * {
    text-align: center;
}

.tool-information{
    background-color:teal;
}

#recommendation-form {
    background-color:orangered;
}


form, .find-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

form *, .find-form *, .tool-information * {
    margin: 5px;
}

.logout-button, .home-button, .account-button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: rgb(71, 67, 67);
    border: 2px solid white;
    color: white;
}

.add-button, .find-button, .register-button, .login-button, #submit-button, #cancel-button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: green;
    color: white;
}

#add-recommendation {
    border-radius: 10px;
    width: 120px;
    height: 50px;
    padding: 10px;
    background-color: green;
    color: white;
}

.edit-button, .delete-button {
    margin-top: 10px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    padding: 10px;
    background-color:green;
    color: white;
}

.form-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert {
    color: red;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.find-container, .add-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: orange;
}

.welcome {
    font-size: 30px;
    color: yellow;
    text-shadow: 2px 2px black;
}

.tool-information {
    font-size: 30px;
}

.recommendation-body-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding-bottom: 200px;
}

#recommendation-form {
    display: none;
    font-size: 25px;
}

.recommendation {
    font-size: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    padding: 20px;
    background-color:orange;
    border-radius: 10px;
}

.box-title-container, .form-title {
    border-bottom: 2px solid black;
}

.box-title {
    width: 100%;
}

.nav-container * {
    margin: 10px;
}

.creator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid orange;
    padding: 20px;
    background-color: black;
    color: white;
}

.creator-container * {
    margin: 2px;
}

#creator-avatar {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
}

#creator-button {
    border-radius: 10px;
    width: 120px;
    height: 50px;
    padding: 10px;
    background-color: rgb(71, 67, 67);
    border: 2px solid white;
    color: white;
}

@media only screen and (max-width: 1199px) {
    .body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body-container.main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .nav-container {
        display: flex;
        justify-content: center;
    }
}